<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <!-- <img src="UST training/angular/firstapp/my-workout-app/src/assets/images/logo.png)"  > -->
      <a class="navbar-brand" href="#" >
      
      
      <img src="../assets/quiz.jpg" alt="" width="30" height="24" class="d-inline-block align-text-left">
    Quiz App
      <!-- <font size = +3>MY WORKOUT APP</font> -->
     
    </a>
    <button type="submit" (click)="onlogout()" class="btn btn-primary" >Logout</button>
    </div>
  </nav>
<router-outlet></router-outlet>
 
  